.section-title-center{
    text-align: center;
    .section-subtitle{
        margin: auto;
    }
}
.section-title-left{
    text-align: left;
}
.section-subtitle-left{
    &::before{
        display: none;
    }
}
.section-subtitle-right{
    &::after{
        display: none;
    }
}
.section-subtitle{
    position: relative;
    background: #1900f7;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    padding: 4px 3px;
    text-align: center;
    max-width: 100px;
    text-transform: uppercase;
    width: auto;
    &::before{
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        right: -7px;
        background: rgb(25, 0, 247);
    }
    &::after{
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: -7px;
        background: rgb(25, 0, 247);
    }
} 
.section-title{
    h2{
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #0d0d1b;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        line-height: 23px;
        color: #6c6c6c;
        font-weight: 300;
        text-align: center;
    }
}